# The .env file is gitignore'd, so use this file to build the new .env file
# with the correct values for your environment.

# The port number that the server will listen on.
# If unspecified, the server will listen on port 3000 by default.
PORT=""

# The URL of the database to connect to.
DATABASE_URL=""